.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rom-input {
  display: block;
  width: 400px;
  height: 300px;
  border-radius: 15px;
  border: rgb(246, 250, 12) dashed 10px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  line-height: 300px;
  font-size: 30px;
  font-weight: bold;
}

.error {
  margin: 20px;
  color: rgb(246, 40, 12);
  font-size: 30px;
}

.canvas {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}
